
@import "tailwindcss";
/* 
Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Global Font */
/* body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background: #f7f2ea;
}
button {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
      font: inherit;
      font-weight: 600; 
} */
/* GLOBAL FONT */
/* * {
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
} */

/* AUTO SCROLL ANIMATION */
/* @keyframes scrollCourses {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} */


/* @keyframes scrollCourses {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}    */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui, sans-serif;
}

@keyframes scrollNow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
} */

